/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */


.block {
    width :30vw;
    height: 30vw;
    background-color: #000;
    color: white;
    padding: 1rem;
    margin: 1rem;

}

.left{
    float: left;
    /* margin-right: 1rem; */
    /* this also applies margin after block  */
}

.clear{
    clear: both;
}
/* this helps in clearing float propertry from where its used
  */

.s {
    background-color: papayawhip;
    border: 2px solid black;
    overflow: auto;
    /* remove overflow to check */
    /* display : flow-root;  */
    /* this is alternative and more prefered */
}

