* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove all extra, border box matlab the size we give for content it is going to include padding and border, 
while the content-box the content which we specified will be as much, 
it'll not include size of border or padding */


header{
    width: 50%;
    color: white;
    background-color: black;
    border: 2px salmon solid;
    padding: 3%;
}
h1{
    margin: 0px;
}
/* Header takes 50% of screen */

/* 1 rem = 16 px by default in browsers */
p{
    font-size: 1rem;
}
