* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove all extra  */

header{
    width: 50%;
    color: white;
    background-color: black;
    border: 2px salmon solid;
    padding: 3%;
}
h1{
    margin: 0px;
}
/* Header takes 50% of screen */

/* 1 rem = 16 px by default in browsers */
p{
    font-size: 1rem;
}
