h1{
    color: tomato;
}

.one{
    color: lime;
}

#three{
    color: blueviolet;
}


/* INHERITANCE */
body {
    font-family: Arial, sans-serif;
}

.parent {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #333;
}

button, input, textarea, select {
    font: inherit;
}
